<html lang="en">
  <head>
    <title>1500 Form</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/app.css"/>
  </head>
  <body>
    <div id="loginForm">
    <% if (locals.error) { %>
      <div class="alert callout" style="position: relative; width: 50%; left: 25%;">
        <p><%= error %></p>
      </div>
    <% } %>

    <form method="post" action="/login">
      <div class="row">
        <div class="medium-6 columns">
          <label>Username
            <input type="text" name="username" value="CHGUser">
          </label>
        </div>
        <div class="medium-6 columns">
          <label>Password
            <input type="password" name="password" value="Rocket!2801">
          </label>
        </div>
      </div>
      <center>
        <input class="button" type="submit"></input>
      </center>
    </form>
</div>
  </body>
</html>
